<script src="/js/snackbar.js" type="module" defer></script>
<link rel="stylesheet" href="/css/snackbar.css" />
<div class="is-flex snackbar">
  <p class="snackbar-message">I love snackbar</p>
  <div class="snackbar-button">
    <button><i class="fa-solid fa-xmark"></i></button>
    <div class="loading"></div>
  </div>
</div>
